In [10]:
import requests
import pandas as pd

# CLEANING FUNCTION FOR "DS_TOUR_FREQ" SOURCE ------------------

def flatten_record(record):
    combined_data = {
        **record.get('dimensions', {}),
        **record.get('attributes', {}),
        'OBS_VALUE_NIVEAU': record.get('measures').get('OBS_VALUE_NIVEAU').get('value')
    } 
    return combined_data

# CALLING MELODI API ----------------------------

source = "DS_TOUR_FREQ"
max_results  = 100

url_melodi = (
    f"https://api.insee.fr/melodi/data/{source}?"
    f"totalCount=true&maxResult={max_results}&idTerritoire=true"
)
output_melodi = requests.get(url_melodi).json()

# TRANSFORMING JSON INTO DATAFRAME ----------------------------

cleaned_data_as_dict = [flatten_record(entry) for entry in output_melodi.get('observations')]
df = pd.DataFrame(cleaned_data_as_dict)

In [25]:
df.head(2)

,GEO,TOUR_MEASURE,HOTEL_STA,FREQ,TIME_PERIOD,TERRTYPO,ACTIVITY,TOUR_RESID,UNIT_LOC_RANKING,OBS_STATUS,DECIMALS,UNIT_MULT,OBS_STATUS_FR,CONF_STATUS,OBS_VALUE_NIVEAU
0,2023-REG-84,ARR,_T,M,2023-06,_T,I553,250,_T,A,0,3,D,F,329.00
1,2023-DEP-81,NUI,_T,M,2016-08,_T,I551,1_X_250,_T,A,2,3,D,F,10.66